# SendGrid設定
SENDGRID_API_KEY=SG.kke-6pqt17yw1rdb
SENDGRID_FROM_EMAIL=contact@naocreate.net

# Google Apps Script設定
GAS_SPREADSHEET_URL=YOUR_GAS_WEB_APP_URL_HERE

# 管理者メールアドレス
ADMIN_EMAIL=naocreate52@gmail.com

# MicroCMS設定
MICROCMS_SERVICE_DOMAIN=YOUR_MICROCMS_SERVICE_DOMAIN
MICROCMS_API_KEY=YOUR_MICROCMS_API_KEY