---
import StoreCard from './StoreCard.astro';
import './StoresSection.scss';
import SectionHeading from '../ui/SectionHeading.astro';
import BaseButton from '../ui/buttons/BaseButton.astro';
import ButtonWrapper from '../ui/buttons/ButtonWrapper.astro';

const { stores } = Astro.props;
---

<section class="stores-section">
  <div class="container stores-container">
    <!-- セクション見出し -->
    <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
      <SectionHeading 
        subtitle="Stores information"
        title="店舗情報"
        alignment="center"
        subtitleClass="text-disabled"
        titleClass="text-primary"
      />
    </div>
    
    <div class="stores-viewport">
      
      <!-- 店舗カード表示エリア -->
      <div class="stores-grid">
        {stores.map((store, i) => (
          <div class="stores-card" 
            data-index={i}
            data-aos="fade-up" 
            data-aos-duration="1200" data-aos-easing="ease-out-cubic" 
            data-aos-delay={200 + (i * 200)}>
            <StoreCard {...store} />
          </div>
        ))}
      </div>
    </div>
    
    <!-- lg未満用ボタン -->
    <div class="stores-button-wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-easing="ease-out-cubic">
      <ButtonWrapper>
        <BaseButton href="/stores" text="もっとみる" />
      </ButtonWrapper>
    </div>
  </div>
</section>