---
console.log('=== テストページが読み込まれました ===');
---

<html>
<head>
  <title>テストページ</title>
</head>
<body>
  <h1>テストページが正常に動作しています</h1>
  <p>URL: /search/dogs/test</p>
</body>
</html>

<script>
  console.log('テストページのクライアントスクリプトが実行されました');
</script>