---
import Layout from '../../layouts/Layout.astro';
import HeroSection from '../../components/sections/common/HeroSection.astro';
import MedicalCheckSection from '../../components/sections/relief/MedicalCheckSection.astro';
import WanNyanSupportSection from '../../components/sections/relief/WanNyanSupportSection.astro';
import AfterSupportSection from '../../components/sections/relief/AfterSupportSection.astro';
import RelatedHomestaySection from '../../components/sections/common/RelatedHomestaySection.astro';
import BannerSection from '../../components/sections/common/BannerSection.astro';
import ContactCTASection from '../../components/sections/common/ContactCTASection.astro';

// パンくずリストのデータ
const breadcrumbItems = [
  { label: 'ホーム', href: '/' },
  { label: 'カトレアの安心' }
];
---

<Layout title="カトレアの安心" description="カトレアでは、すべてのワンちゃん・ネコちゃんが安心して新しい生活をスタートできるよう、徹底した健康管理を行っています。">
  <main>
    <HeroSection 
      title="カトレアの安心"
      image="/src/assets/images/backgrounds/img_bg-hero_relief-01.webp"
      breadcrumbItems={breadcrumbItems}
    />
    
    <MedicalCheckSection />
    
    <WanNyanSupportSection />
    
    <AfterSupportSection />
    
    <RelatedHomestaySection />
    
    <BannerSection />
    
    <ContactCTASection />
  </main>
</Layout>