---
// トップビュー動画セクション
import './TopView.scss';
---
<section class="topview-section">
  <div class="topview-video-wrapper">
    <video class="topview-video" src="/src/assets/movie/mv_topview-01.mp4" autoplay loop muted playsinline></video>
    <div class="topview-overlay">
      <div class="topview-content">
        <h1 class="topview-title">すべてのペットと<br>飼い主様の安心を繋ぐ</h1>
      </div>
    </div>
  </div>
</section> 