---
import './HomestaySection.scss';
import SectionHeading from '../../ui/SectionHeading.astro';
import BaseButton from '../../ui/buttons/BaseButton.astro';
import ButtonWrapper from '../../ui/buttons/ButtonWrapper.astro';
const mainImg = '/images/content/img_homestay_main-01.webp';
---
<section class="homestay-section">
  <div class="container homestay-container" data-aos="fade-up" data-aos-duration="1200" data-aos-easing="ease-out-cubic">
    <!-- モバイル用ヘッダー -->
    <div class="section-heading--mobile">
      <SectionHeading 
        subtitle="Home stay"
        title="ホームステイ"
        alignment="center"
        subtitleClass="text-secondary"
        titleClass="text-primary"
      />
    </div>
    
    <div class="homestay-img-wrap">
      <img src={mainImg} alt="ホームステイ" class="homestay-img" loading="lazy" />
    </div>
    
    <div class="homestay-content">
      <!-- デスクトップ用ヘッダー -->
      <div class="section-heading--desktop">
        <SectionHeading 
          subtitle="Home stay"
          title="ホームステイ"
          alignment="left"
          subtitleClass="text-secondary"
          titleClass="text-primary"
        />
      </div>
      <div class="homestay-features">
        <p class="homestay-feature">一律10,000円(税込)で選べる泊数</p>
        <p class="homestay-feature">お泊まりセット無料でレンタル</p>
      </div>
      <p class="homestay-desc">カトレアでは、相性や飼育不安を解消するためにホームステイサービスを行っています。<br><br>ホームステイ中もスタッフが精一杯サポートいたします。お気軽にお申し付けください。</p>
      <ButtonWrapper>
        <BaseButton href="/homestay" text="詳しくみる" />
      </ButtonWrapper>
    </div>
  </div>
</section> 