---
interface TableRow {
  label: string;
  value: string;
}

interface Props {
  data: TableRow[];
  class?: string;
}

const { data, class: className = '' } = Astro.props;
---

<div class={`data-table-wrapper ${className}`}>
  <table class="data-table">
    {data.map((row, index) => (
      <tr class="data-table__row">
        <td class="data-table__label">
          <Fragment set:html={row.label} />
        </td>
        <td class="data-table__value">
          <Fragment set:html={row.value} />
        </td>
      </tr>
    ))}
  </table>
</div>

<style lang="scss">
@use '../../styles/components/DataTable.scss';
</style>